.login{
    margin-right: 20px; 
}

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main{
 	margin:50px 15px;
}

ul{
    list-style-type: none;
}
.categories_menu{
    padding: 10px 0;
}
.main_category{
    color: blue;
}
.product{
    height: 300px;
    text-align: center !important;
}
.product>.title>a{
    text-decoration: none !important;
}
.product>.image{
    height: 150px;
}
.product>.price{
    font-size: 20px;
    color: orange;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.form-control{
    padding: 11px 12px!important;
}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.form-control{
    padding: 5px 10px !important;
}
.arrow{
    float: right;
    margin-top: 8px;
}
.label-register{
    margin-bottom: 5px;
}
.div-register, .div-order{
    margin-bottom: 8px;
}
.search{
    padding: 11px 10px !important;
}
.left-bar{
    border: 1px solid Gainsboro;
    box-shadow: 2px 2px 5px grey;
}
.buy_button{
    height: 50px;
}
.image{
    height: 150px;
}
.quantity{
    width: 80px;
}
.order-refresh{
    margin-bottom: 30px;
}
.order{
    float: right;
}
.buy_product{
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    float: right;
}
.price{
    color: orange;
    font-size: 20px;
}

.product>a>img{
    height: 150px;
}

.contact-telephone{
    font-size: 26px;
}
.left-arrow{
    position: absolute;
    top: 45%;
    right: 40%;
    height: 30px;
}
.slider-image{
    height: 300px !important;
    width: 600px;
}
.admin-menu{
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: fixed;
    height: 100%;
}
.sub-category-index{
    display:block;
}
.admin-product>img{
    height: 100px;
}
.admin-product{
    height: 250px;
}
.admin-products{
    margin-top: 20px;
}
.slider-div{
    margin-top: 100px;
}
.admin-slider{
    margin-top: 20px;
}
.auth-admin{
    background: #333;
    text-align: right;
    padding: 7px 20px 7px 0;
    font-size: 18px;
}
.auth-admin>span{
    color: #337ab7;
    padding-right: 20px;
}
.auth-admin>a{
    text-decoration: none;
}
.auth-admin>a:hover{
    color: white;
}
.go-to-main{
    padding: 0 20px 0 20px;
    border-left: 2px solid #337ab7;
    border-right: 2px solid #337ab7;
}
.logout-admin{
    padding-left: 20px;
}
.select-active{
    margin-bottom: 20px;
}
.delete-slider{
    margin-top: 20px;
}
.messages>li{
    font-size: 18px;
    font-weight: bold;
}
.messages>li>span{
    font-size: 16px;
    font-weight: normal;
}
.order-products-div, .reviews-div{
    margin-top: 10px;
}
.order-products>li{
    font-weight: bold;
}
.order-products>li>span{
    font-weight: normal;
}
.order-products>li>span{
    font-weight: normal;
}
.table-products>tbody>tr>td{
    font-weight: normal;
}

.slider-width{
    width: 600px;
}
.adveresting{
    float: right;
}
.form-reviews{
    margin-top: 10px;
}
.image-adveresting{
    height: 100px;
}
.footer{
    text-align: center;
    font-size: 30px;
    color: black;
    height: 150px;
    background: #f5f5f5;
    width: 100%;
    border-top: 1px solid #c3c3c3;
    box-shadow: inset 0 1px 6px 0 #d8d8d8;
}



@media (max-width: 1200px){
    .container {
        width: 1050px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1050px;
    }
}

@media (min-width: 1400px){
    .container {
        width: 1400px;
    }
}

@media (min-width: 1600px){
    .container {
        width: 1600px;
    }
}